.container {
  position: absolute;
  top: 2rem;
  left: 21rem;

  height: 20rem;
  width: 40rem;

  padding: 1rem;

  border: thin dashed currentColor;
  border-radius: 0.5rem;
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;

  border: thin solid;
  box-shadow: 0 0 2rem -1.1rem currentColor;
}

.element {
  position: absolute;
}

.elementController {
  padding: 1rem;
  border: thin dashed purple;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
