.number {
  width: 100%;

  display: grid;
  grid-template-columns: 3rem 3rem 2rem 3rem 3rem;
  padding-top: 0.5rem;
}
.numberDisplay {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: thin dashed currentColor;
}
